{% extends 'base.html' %}

{% block title %} Employee Home {% endblock %}

{%block header %} Confirm Pick ups {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <br />
    To view customer schedule, choose the day below (default is today):
    <br />
    
 <form action="{% url 'employees:confirm_pickup' %}" method="POST">
     {% csrf_token %}

     <label>Day of the Week</label>

     <select name="days" id="days">
     <option value="monday">Monday</option>
     <option value="tuesday">tuesday</option>
     <option value="wednesday">wednesday</option>
     <option value="thursday">thursday</option>
     <option value="friday">friday</option>
     <option value="saturday">saturday</option>
     <option value="sunday">sunday</option>
     </select>
     <input type="submit" value="Search">
 </form> 
 <br />

 Pickups for Zip Code below: {{logged_in_employee.zip_code}} for {{selected_day}}<br />
 {% for customer in customer_match %}
    <br />
    Name: <input type="name" name="name" id="name" value="{{customer.name}}" readonly>
    Address: <input type="address" name="address" id="address" value="{{customer.address}}" readonly>
    <br />
{% endfor %}