
{% extends 'employees/employees_base.html' %}
<head>
  <title>Garbage Pick-up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  Hello {{ user.username }}!<br />
  Address: {{ logged_in_employee.address }}<br />
  ZipCode: {{ logged_in_employee.zip_code}}<br />
  
  <br />
  <br />
  <h3>Customers needing pick up in current Zip Code:</h3>
  {% for customer in todays_customers %}
  <form action="{% url 'employees:index' %}" method="post">
    {% csrf_token %}
      ID: <input type="id" name="id" id="id" value="{{customer.id}}" readonly>
      Name: <input type="name" name="name" id="name" value="{{customer.name}}" readonly>
      Address: <input type="address" name="address" id="address" value="{{customer.address}}" readonly>
      <input type="submit" class="btn btn-danger" id='script' name='Button' value=" Job Complete " onclick="index(complete_customer.balance)">
      <br />
      <br />
  </form>
  {% endfor %}
  <br />
  <br />
  
  <img src="trash man.jpg" class="img-thumbnail" alt="Trash Man">

  <br />
  Today's date is: {{ today }}<br />
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}

